@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --forest-green: #2f7828;
  --white: #f5f5f5;
  --light-gray: #d2d2d0;
  --dark-charcoal: #36444b;
  --soft-beige: #e7dab9;

  --text-color: var(--dark-charcoal);
  --bg-color: var(--white);
  --font-main: "Inter", sans-serif;

  --main-banner-img: url(../img/main-banner-background-dark.png);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  color: var(--text-color);
  background: var(--bg-color);
  line-height: 1.6;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.header {
  min-height: 15vh;
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 10;
  background: var(--forest-green);
  color: var(--white);
  padding: 1vh;
}

.header__logo {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__logo-image {
  width: 50px;
}

.header__logo-text {
  font-size: 1.4rem;
  font-weight: 700;
}

.header__menu-button {
  border: none;
  background: transparent;
  color: var(--white);
  font-size: 1.7rem;
  cursor: pointer;
}

.header__nav {
  position: absolute;
  right: 0;
  top: 15vh;
  display: none;
  flex-wrap: wrap;
  gap: 20px;
  width: 120px;
  height: 200px;
  padding: 10px;
  list-style: none;
  background: var(--forest-green);
  border-radius: 0 0 0 5px;
}

.header__nav-link {
  color: var(--white);
  text-decoration: none;
  background: transparent;
  border: none;
  font: inherit;
  font-weight: 500;
  cursor: pointer;
}

.header__nav-link:hover {
  text-decoration: underline;
}

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 85vh;
  padding: 2vh;
  background-image: var(--main-banner-img);
  background-size: cover;
  background-position: center;
  box-shadow: 2px 1px 10px 6px rgba(0, 0, 0, 0.26);
}

.main-banner__title {
  color: var(--white);
  font-size: 3rem;
  font-weight: 600;
}

.main-banner__paragraph {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 300;
}

.main-banner__button {
  display: inline-block;
  color: var(--white);
}

.welcome,
.why-choose {
  padding: 2vh;
}

.welcome__title,
.why-choose__title {
  margin-bottom: 3vh;
  color: var(--dark-charcoal);
  font-weight: 700;
}

.welcome__paragraph {
  margin-bottom: 5vh;
  color: var(--dark-charcoal);
  font-size: 1.2rem;
  font-weight: 500;
}

.why-choose {
  background: var(--soft-beige);
}

.why-choose__list {
  list-style: none;
}

.footer {
  padding: 2rem;
  text-align: center;
  color: var(--white);
  background: var(--dark-charcoal);
}

/* Tablets */
@media (min-width: 768px) {
  .header__menu-button {
    display: none;
  }

  .header__nav {
    position: static;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1vw;
    width: auto;
    height: auto;
    padding: 0;
    border-radius: 0;
    background: transparent;
  }

  .main-banner__paragraph {
    width: 60vw;
  }

  .why-choose__title {
    font-size: 3.2rem;
  }

  .why-choose__item {
    font-size: 1.2rem;
  }
}


